$colorWhite: #fff;
$colorBlack: #252528;
$colorGreen: #89c441;
$colorRed: #b10303;
$colorBorder: #ebebeb;
$colorGray: #656363;
$colorParagraph: #888889;
$colorBackground: #f5f9fc;
$colorPink: #FF9595;
$colorOrange: #ffa743;
$colorPrimary: #4141fa;
